<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Show full screen on bookmarked iOS devices -->
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="description" content="wercker Hosted Continuous Integration and Delivery Platform">
  <meta name="keywords" content="wercker, continuous delivery, continuous integration, cloud, tutorial">
  <meta name="author" content="wercker">

  <title>wercker devcenter</title>

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/touch-icon-iphone-114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad-144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-144.png" />

  <!-- Included CSS Files -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/site.css" media="all">

</head>

<body>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/custom.modernizr.js"></script>
  <script src="/javascripts/lib/foundation/foundation.js"></script>
  <script src="/javascripts/lib/foundation/foundation.section.js"></script>

  <script>
    $(document).foundation();
  </script>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "00bacff4-9758-400f-b937-50cae880fa74", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>

<script type="text/javascript">
    (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");
    b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+
    '//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';d=c.getElementsByTagName("script")[0];
    d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){
    var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(
    Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=a[f]=[]:
    f="mixpanel";g.people=g.people||[];h=['disable','track','track_pageview','track_links',
    'track_forms','register','register_once','unregister','identify','alias','name_tag','set_config',
    'people.set','people.set_once','people.increment','people.track_charge','people.append'];
    for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.2;})(document,window.mixpanel||[]);
    mixpanel.init("c5c43fb828e02676b2592d7dd7f7ee99");
</script>


  <div id="gradient-container"></div>
  <div id="gradient-container-name"></div>
  <div id="root">

  <iframe class="show-for-medium-up fork-this" src="http://ghbtns.com/github-btn.html?user=wercker&repo=wercker-devcenter&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="160" height="30"></iframe>

<!-- google custom search
  <div class="search-box">Search this site
    <script>
  (function() {
    var cx = '000556061355717856266:5gc2ta5sy3c';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
-->



    <div class="row page-content">
      <div class="row name-container">
        <!-- <nav class="top-bar"> -->
          <!-- <ul class="title-area"> -->
            <!-- Title Area -->
            <div class="small-12 large-3 columns">
              <!-- <div class="row"> -->
                <!-- <div class="large-8 columns right small-12"> -->
                  <div class="name logo">
                    <a href="/#"><img src="/images/logo-x2.png" width="150px" alt="wercker dev center"/></a>
                  </div>
                <!-- </div> -->
              <!-- </div> -->
            </div>
          <!-- </ul> -->
        <!-- </nav> -->
      </div>
      <div class="row">
        <!-- SIDE NAV -->
        <div class="small-12 large-3 columns page-content__nav">
          <div class="row">
            <div class="small-12 large-8 columns right">
              <div class="section-container accordion" data-section="accordion" data-options="deep_linking: true">

                <section <%= sidebar_current("introduction") %> >
                  <p class="title" data-section-title><a href="/articles/introduction/">Introduction</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "introduction" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("introduction-pipeline") %>><a href="/articles/introduction/pipeline.html">The wercker pipeline</a></li>
                      <li<%= sidebar_current("introduction-builds") %>><a href="/articles/introduction/builds.html">Builds</a></li>
                      <li<%= sidebar_current("introduction-deploys") %>><a href="/articles/introduction/deploys.html">Deploys</a></li>
                      <li<%= sidebar_current("introduction-benefits") %>><a href="/articles/introduction/benefits.html">Benefits</a></li>
                      <li<%= sidebar_current("introduction-security") %>><a href="/articles/introduction/security.html">Security</a></li>
                    </ul>
                    <% end %>
                  </div>
                </section>

                <section <%= sidebar_current("gettingstarted") %>>
                  <p class="title" data-section-title><a href="/articles/gettingstarted/">Getting Started</a></p>

                  <div class="content" data-section-content>
                    <% if sidebar_section == "gettingstarted" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("gettingstarted-web") %>><a href="/articles/gettingstarted/web.html">Using the web interface</a></li>
                      <li<%= sidebar_current("gettingstarted-cli") %>><a href="/articles/gettingstarted/cli.html">Using the CLI</a></li>
                      <li<%= sidebar_current("gettingstarted-werckerbot") %>><a href="/articles/gettingstarted/werckerbot.html">A note on werckerbot</a></li>
                      <!--
                      <li<%= sidebar_current("gettingstarted-python") %>><a href="/articles/gettingstarted/python.html">Python</a></li>
                      <li<%= sidebar_current("gettingstarted-golang") %>><a href="/articles/gettingstarted/golang.html">Golang</a></li>
                      -->

                    </ul>
                    <% end %>
                  </div>

                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

                <section <%= sidebar_current("werckeryml") %>>
                  <p class="title" data-section-title><a href="/articles/werckeryml/">Wercker.yml</a></p>

                  <div class="content" data-section-content>
                    <% if sidebar_section == "werckeryml" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("werckeryml-notifications") %>><a href="/articles/werckeryml/notifications.html">Notifications</a></li>
                    </ul>
                    <% end %>
                  </div>

                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

                <section <%= sidebar_current("languages") %>>
                  <p class="title" data-section-title><a href="/articles/languages/">Language Guides</a></p>

                  <div class="content" data-section-content>
                    <% if sidebar_section == "languages" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("languages-php") %>><a href="/articles/languages/php.html">PHP</a></li>
                      <li<%= sidebar_current("languages-python") %>><a href="/articles/languages/python.html">Python</a></li>
                      <li<%= sidebar_current("languages-ruby") %>><a href="/articles/languages/ruby.html">Ruby</a></li>
                      <li<%= sidebar_current("languages-nodejs") %>><a href="/articles/languages/nodejs.html">Node.js</a></li>
                      <li<%= sidebar_current("languages-go") %>><a href="/articles/languages/go.html">Go</a></li>
                    </ul>
                    <% end %>
                  </div>
                  </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                  </section>

                <section <%= sidebar_current("directory") %>>
                  <p class="title" data-section-title><a href="/articles/directory/">Wercker Directory</a></p>
                </section>

                <section <%= sidebar_current("boxes") %>>
                  <p class="title" data-section-title><a href="/articles/boxes/">Boxes</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "boxes" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("boxes-bash") %>><a href="/articles/boxes/bash.html">Creating your own boxes with Bash</a></li>
                      <li<%= sidebar_current("boxes-chef") %>><a href="/articles/boxes/chef.html">Creating your own boxes with Chef</a></li>
                      <li<%= sidebar_current("boxes-puppet") %>><a href="/articles/boxes/puppet.html">Creating your own boxes with Puppet</a></li>
                    </ul>
                    <% end %>
                  </div>
                </section>

                <section <%= sidebar_current("steps") %>>
                  <p class="title" data-section-title><a href="/articles/steps/">Steps</a></p>

                  <div class="content" data-section-content>
                    <% if sidebar_section == "steps" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("steps-guide") %>><a href="/articles/steps/guide.html">A guide to steps</a></li>
                      <li<%= sidebar_current("steps-create") %>><a href="/articles/steps/create.html">Create your own steps</a></li>
                    </ul>
                    <% end %>
                  </div>

                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                  </section>

               <section <%= sidebar_current("cli") %>>
                  <p class="title" data-section-title><a href="/articles/cli/">The wercker CLI</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "cli" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("cli-installation") %>><a href="/articles/cli/installation.html">Installation</a></li>
                      <li<%= sidebar_current("cli-commands") %>><a href="/articles/cli/commands.html">Commands</a></li>
                    </ul>
                    <% end %>
                  </div>
                </section>

                <section <%= sidebar_current("services") %>>
                  <p class="title" data-section-title><a href="/articles/services/">Services</a></p>
                </section>

                <section <%= sidebar_current("deployment") %>>
                  <p class="title" data-section-title><a href="/articles/deployment/">Deployment</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "deployment" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("deployment-heroku") %>><a href="/articles/deployment/heroku.html">Heroku</a></li>
                      <li<%= sidebar_current("deployment-openshift") %>><a href="/articles/deployment/openshift.html">OpenShift</a></li>
                      <!-- <li<%= sidebar_current("deployment-cloudfoundry") %>><a href="/articles/deployment/cloudfoundry.html">Cloud Foundry</a></li>-->
                      <li<%= sidebar_current("deployment-capistrano") %>><a href="/articles/deployment/capistrano.html">Capistrano</a></li>
                      <!-- <li<%= sidebar_current("deployment-fabric") %>><a href="/articles/deployment/fabric.html">Fabric</a></li>-->
                      <li<%= sidebar_current("deployment-pypi") %>><a href="/articles/deployment/pypi.html">PyPI</a></li>
                      <li<%= sidebar_current("deployment-jekylls3") %>><a href="/articles/deployment/jekylls3.html">Jekyll and S3</a></li>
                      <li<%= sidebar_current("deployment-middleman") %>><a href="/articles/deployment/middleman.html">Middleman and S3</a></li>
                    </ul>
                    <% end %>
                  </div>
                </section>


                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

                <section <%= sidebar_current("contributions") %>>
                  <p class="title" data-section-title><a href="/articles/contributions/">Contributions</a></p>
                  <!--
                  <div class="content" data-section-content>
                    <% if sidebar_section == "bestpractices" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("bestpractices") %>><a href="/articles/bestpractices/pullrequests.html">Pull Requests</a></li>
                    </ul>
                  <% end %>
                  </div>
                -->
                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

                <section <%= sidebar_current("bestpractices") %>>
                  <p class="title" data-section-title><a href="/articles/bestpractices/">Best Practices</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "bestpractices" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("bestpractices") %>><a href="/articles/bestpractices/pullrequests.html">Pull Requests</a></li>
                    </ul>
                  <% end %>
                  </div>
                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

                <section <%= sidebar_current("faq") %>>
                  <p class="title" data-section-title><a href="/articles/faq/">FAQ</a></p>
                  <div class="content" data-section-content>
                    <% if sidebar_section == "faq" %>
                    <ul class="side-nav">
                      <li<%= sidebar_current("faq") %>><a href="/articles/faq/webhooks.html">A note on Webhooks</a></li>
                    </ul>
                  <% end %>
                  </div>
                </section>

                <section class="section__divider show-for-medium-up">
                  <p class="title" data-section-title><p></p></p>
                  <div class="content" data-section-content>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>

        <!-- ARTICLES -->
        <div class="small-12 large-9 columns">
          <div class="page-content__articles">
            <%= yield %>
            <div class="small-12 large-12 columns sharing-options">
              <span class='st_twitter' displayText='Tweet'></span>
              <span class='st_linkedin' displayText='LinkedIn'></span>
              <span class='st_googleplus' displayText='Google +'></span>
              <span class='st_email' displayText='Email'></span>
            </div>
            <div id="disqus_thread"></div>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

          </div>
        </div>
      </div>

      <!-- FOOTER -->
      <div id="root_footer" class="hide-for-small"></div>

      <div class="row footer__bar hide-for-medium-up">
        <ul>
          <li>copyright &copy;2013 wercker</li>
          <li><a href="http://beta.wercker.com">home</a></li>
          <li><a href="http://blog.wercker.com">blog</a></li>
          <li><a href="http://beta.wercker.com/about">about</a></li>
          <li><a href="http://beta.wercker.com/jobs">jobs</a></li>
          <li><a href="mailto:pleasemailus@wercker.com">contact&amp;support</a></li>
        </ul>
      </div>
    </div>

    <div id="footer" class="show-for-medium-up">
      <div class="row">
        <div class="large-4 columns footer__block">
          <h5>Sign up now</h5>
          <hr></hr>
          <p>Signing up for wercker is free and easy. Create your account <a href="https://app.wercker.com/users/new">here</a></p>
        </div>
        <div class="large-6 columns footer__block">
          <h5>Join the Conversation</h5>
          <hr></hr>
          <p>
            Feel free to email us with any questions or feedback at <a href="mailto:pleasemailus@wercker.com">pleasemailus@wercker.com</a></br>
            Subscribe to the wercker blog <a href="http://blog.wercker.com/feed.xml">feed</a> and follow us on <a href="http://twitter.com/wercker">twitter</a></br>
            Visit our <a href="https://groups.google.com/forum/#!forum/wercker">Google Group</a> or chat to us on IRC at <a href="irc://irc.freenode.net/wercker">#wercker</a> on irc.freenode.net</br>
            You can find the awesome people who have already contributed <a href="http://devcenter.wercker.com/articles/contributors.html">here</a>.
           </p>


        </div>
        <div class="large-2 columns">
          <div class="badge">
  <a href="https://app.wercker.com/project/bykey/fe9267629e430d21dcdeb9baf2deebea"><img alt="Wercker status" src="https://app.wercker.com/status/fe9267629e430d21dcdeb9baf2deebea/m"></a>
          </div>
        </div>
        <div class="large-12 columns footer__bar">
          <ul>
            <li>copyright &copy;2013 wercker</li>
            <li><a href="http://beta.wercker.com">home</a></li>
            <li><a href="http://blog.wercker.com">blog</a></li>
            <li><a href="mailto:pleasemailus@wercker.com">contact &amp; support</a></li>
            <li><a href="http://twitter.com/wercker.com">twitter</a></li>
            <li><a href="https://plus.google.com/b/102532039826084442989/102532039826084442989/posts">Google+</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'werckerdevcenter'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28568056-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

