<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>wercker devcenter</title>

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/touch-icon-iphone-114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad-144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-144.png" />

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/site.css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>


</head>

<body>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/custom.modernizr.js"></script>
  <script src="/javascripts/lib/foundation/foundation.js"></script>
  <script src="/javascripts/lib/foundation/foundation.section.js"></script>

  <script>
    $(document).foundation();
  </script>

  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "00bacff4-9758-400f-b937-50cae880fa74", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>



  <div id="root">

<iframe src="http://ghbtns.com/github-btn.html?user=wercker&repo=wercker-devcenter&type=fork&count=true&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="160" height="30"></iframe>

    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1><a href="/#">wercker dev center</a></h1>
        </li right>
      </ul>
    </nav>


    <div class="row page-content">

      <!-- SIDE NAV -->
      <div class="small-12 large-3 columns page-content__nav">
        <div class="row">
          <div class="small-12 large-10 columns right">
            <div class="section-container accordion" data-section="accordion" data-options="deep_linking: true">

                <section <%= sidebar_current("introduction") %> >
                <p class="title" data-section-title><a href="/articles/introduction/intro.html">Introduction</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "introduction" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("introduction-concepts") %>><a href="/articles/introduction/concepts.html">Concepts</a></li>
                    <li<%= sidebar_current("introduction-builds") %>><a href="/articles/introduction/builds.html">Builds</a></li>
                    <li<%= sidebar_current("introduction-deployment") %>><a href="/articles/introduction/deployment.html">Deployment</a></li>
                  </ul>
                  <% end %>
                </div>
              </section>

              <section <%= sidebar_current("gettingstarted") %>>
                <p class="title" data-section-title><a href="/articles/gettingstarted/intro.html">Getting Started</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "gettingstarted" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("gettingstarted-nodejs") %>><a href="/articles/gettingstarted/nodejs.html">Node.js</a></li>
                    <li<%= sidebar_current("gettingstarted-ruby") %>><a href="/articles/gettingstarted/ruby.html">Ruby</a></li>
                    <li<%= sidebar_current("gettingstarted-python") %>><a href="/articles/gettingstarted/python.html">Python</a></li>
                    <li<%= sidebar_current("gettingstarted-golang") %>><a href="/articles/gettingstarted/golang.html">Golang</a></li>

                  </ul>
                  <% end %>
                </div>
              </section>

              <section class="section__divider">
                <p class="title" data-section-title><p></p></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section <%= sidebar_current("cli") %>>
                <p class="title" data-section-title><a href="/articles/cli/intro.html">The wercker command</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "cli" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("cli-installation") %>><a href="/articles/cli/installation.html">Installation</a></li>
                  </ul>
                  <% end %>
                </div>
              </section>

              <section <%= sidebar_current("werckerjson") %>>
                <p class="title" data-section-title><a href="/articles/werckerjson/intro.html">Wercker.json</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "werckerjson" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("werckerjson-advanced") %>><a href="/articles/werckerjson/advanced.html">Advanced</a></li>
                    <li<%= sidebar_current("werckerjson-other") %>><a href="/articles/werckerjson/other.html">Other</a></li>
                  </ul>
                  <% end %>
                </div>
              </section>

              <section class="section__divider">
                <p class="title" data-section-title><p></p></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section <%= sidebar_current("languages") %>>
                <p class="title" data-section-title><a href="/articles/languages/intro.html">Languages</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "languages" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("languages-flask") %>><a href="/articles/languages/flask.html">Flask</a></li>
                    <li<%= sidebar_current("languages-django-postgres") %>><a href="/articles/languages/django-postgres.html">Django and Postgres</a></li>
                  </ul>
                  <% end %>
                </div>
              </section>

              <section <%= sidebar_current("services") %>>
                <p class="title" data-section-title><a href="/articles/services/intro.html">Services</a></p>
              </section>

              <section <%= sidebar_current("deployment") %>>
                <p class="title" data-section-title><a href="/articles/deployment/intro.html">Deployment</a></p>
                <div class="content" data-section-content>
                  <% if sidebar_section == "deployment" %>
                  <ul class="side-nav">
                    <li<%= sidebar_current("deployment-faq") %>><a href="/articles/deployment/heroku.html">FAQ</a></li>
                    <li<%= sidebar_current("deployment-concepts") %>><a href="/articles/deployment/concepts.html">Concepts</a></li>
                  </ul>
                  <% end %>
                </div>
              </section>


              <section class="section__divider">
                <p class="title" data-section-title><p></p></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section <%= sidebar_current("bestpractices") %>>
                <p class="title" data-section-title><a href="/articles/bestpractices/intro.html">Best Practices</a></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section class="section__divider">
                <p class="title" data-section-title><p></p></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section <%= sidebar_current("faq") %>>
                <p class="title" data-section-title><a href="/articles/faq/faq.html">FAQ</a></p>
                <div class="content" data-section-content>
                </div>
              </section>

              <section class="section__divider">
                <p class="title" data-section-title><p></p></p>
                <div class="content" data-section-content>
                </div>
              </section>

            </div>
          </div>
        </div>
      </div>

      <!-- ARTICLES -->
      <div class="small-12 large-9 columns">
        <div class="page-content__articles">
          <%= yield %>

          <div class="small-12 large-12 columns sharing-options">
            <span class='st_twitter' displayText='Tweet'></span>
            <span class='st_linkedin' displayText='LinkedIn'></span>
            <span class='st_googleplus' displayText='Google +'></span>
            <span class='st_email' displayText='Email'></span>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div id="root_footer" class="hide-for-small"></div>

    <div class="row footer__bar hide-for-medium-up">
      <ul>
        <li>copyright &copy;2013 wercker</li>
        <li><a href="http://beta.wercker.com">home</a></li>
        <li><a href="http://beta.wercker.com/about">about</a></li>
        <li><a href="http://beta.wercker.com/jobs">jobs</a></li>
        <li><a href="http://mailto:pleasemailus@wercker.com">contact&amp;support</a></li>
      </ul>
    </div>
  </div>

  <div id="footer" class="show-for-medium-up">
    <div class="row">
      <div class="large-4 columns footer__block">
        <h5>Sign up now</h5>
        <hr></hr>
        <p>Signing up for wercker is free and easy. Create your account <a href="https://app.wercker.com/users/new">here</a></p>
      </div>
      <div class="large-6 columns footer__block">
        <h5>Join the Conversation</h5>
        <hr></hr>
        <p>Feel free to email us with any questions or feedback at <a href="mailto:pleasemailus@wercker.com">pleasemailus@wercker.com</a>. Contribute your own Dev Center articles by <a href="#">forking</a> our repository on GitHub.</p>

      </div>
      <div class="large-2 columns">
        <div class="badge">
<a href="https://app.wercker.com/project/bykey/fe9267629e430d21dcdeb9baf2deebea"><img alt="Wercker status" src="https://app.wercker.com/status/fe9267629e430d21dcdeb9baf2deebea/m"></a>
        </div>
      </div>
      <div class="large-12 columns footer__bar">
        <ul>
          <li>copyright &copy;2013 wercker</li>
          <li><a href="http://beta.wercker.com">home</a></li>
          <li><a href="http://beta.wercker.com/about">about</a></li>
          <li><a href="http://beta.wercker.com/jobs">jobs</a></li>
          <li><a href="http://mailto:pleasemailus@wercker.com">contact&amp;support</a></li>
        </ul>
      </div>
    </div>
  </div>


</body>
</html>

