<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->

<head>

  <meta charset="utf-8" />
  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>wercker devcenter</title>

  <link rel="shortcut icon" href="/images/favicon.ico">

  <!-- Standard iPhone -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/touch-icon-iphone-114.png" />
  <!-- Retina iPhone -->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/touch-icon-iphone-114.png" />
  <!-- Standard iPad -->
  <link rel="apple-touch-icon" sizes="72x72" href="/images/touch-icon-ipad-144.png" />
  <!-- Retina iPad -->
  <link rel="apple-touch-icon" sizes="144x144" href="/images/touch-icon-ipad-144.png" />

  <!-- Included CSS Files -->
  <link rel="stylesheet" href="/stylesheets/site.css" media="all">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>


</head>

<body>
  <script src="/javascripts/lib/jquery.js"></script>
  <script src="/javascripts/lib/custom.modernizr.js"></script>
  <script src="/javascripts/lib/foundation/foundation.js"></script>
  <script src="/javascripts/lib/foundation/foundation.section.js"></script>

  <script>
    $(document).foundation();
  </script>

  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#">wercker dev center</a></h1>
      </li>
    </ul>
  </nav>

  <div class="row page-content">

    <!-- SIDE NAV -->
    <div class="small-12 large-4 columns page-content__nav">
      <div class="row">
        <div class="small-12 large-8 columns right">
          <div class="section-container accordion" data-section="accordion" data-options="deep_linking: true">
            <section<%= sidebar_current("overview") %>>
              <p class="title" data-section-title><a href="/articles/index.html">Overview</a></p>
              <div class="content" data-section-content>
                <% if sidebar_section == "overview" %>
                <ul class="side-nav">
                  <li<%= sidebar_current("overview-faq") %>><a href="/articles/faq.html">FAQ</a></li>
                  <li<%= sidebar_current("overview-concepts") %>><a href="/articles/concepts.html">Concepts</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
                <% end %>
              </div>
            </section>

            <section<%= sidebar_current("gettingstarted") %>>
              <p class="title" data-section-title><a href="/articles/gettingstarted/intro.html">Getting Started</a></p>
              <div class="content" data-section-content>
                <% if sidebar_section == "gettingstarted" %>
                <ul class="side-nav">
                  <li<%= sidebar_current("gettingstarted-concepts") %>><a href="/articles/gettingstarted/concepts.html">Concepts</a></li>
                  <li<%= sidebar_current("gettingstarted-build") %>><a href="/articles/gettingstarted/build.html">Build</a></li>
                </ul>
                <% end %>
              </div>
            </section>

            <section<%= sidebar_current("werckerjson") %>>
              <p class="title" data-section-title><a href="/articles/werckerjson/intro.html">Wercker.json</a></p>
              <div class="content" data-section-content>
                <% if sidebar_section == "werckerjson" %>
                <ul class="side-nav">
                  <li<%= sidebar_current("werckerjson-advanced") %>><a href="/articles/werckerjson/advanced.html">Advanced</a></li>
                  <li<%= sidebar_current("werckerjson-other") %>><a href="/articles/werckerjson/other.html">Other</a></li>
                </ul>
                <% end %>
              </div>
            </section>

            <section<%= sidebar_current("deployment") %>>
              <p class="title" data-section-title><a href="/articles/deployment/overview.html">Deployment</a></p>
              <div class="content" data-section-content>
                <% if sidebar_section == "deployment" %>
                <ul class="side-nav">
                  <li<%= sidebar_current("deployment-faq") %>><a href="/articles/faq.html">FAQ</a></li>
                  <li<%= sidebar_current("deployment-concepts") %>><a href="/articles/concepts.html">Concepts</a></li>
                </ul>
                <% end %>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

    <!-- ARTICLES -->
    <div class="small-12 large-8 columns">
      <div class="page-content__articles">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>

